header {
    background-color: azure;
    padding: 20px;
    margin-bottom:50px;
    text-align:center
}
body{
    background-color:rgba(68, 243, 184, 0.445);
    font-family:Tahoma;
    text-align:center;
}
h1 {
    text-decoration: underline;
}
#quote {
    padding:100px 0 100px 0;
}
#gympic, #zombiepic {
    height:200px;
    width:250px;
}
#intro {
    padding:75px 75px;
}
#about {
    border:5px solid bisque;
    margin:0 90px 0 90px;
    border-radius:100px;
}
.gaming {
    border:5px solid bisque;
    margin:30px 90px 30px 90px;
    padding:10px 0 20px 0;
}